#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

h3 {
  font-size: 3em;
  padding: 0;
  margin-bottom: 0%;
}

h2 {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 5em;
  color: #99d0f2;
}

.logo:hover {
  filter: drop-shadow(0 0 6px #29275C);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-the-docs {
  color: #ffffff  ;
}
