#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: 'Summer', sans-serif;
}


.logo {
  will-change: filter;
  transition: filter 300ms;
  font-size: 7em; 
  margin-bottom: 5%;
}

.Fin {
  font-family: "Summer", sans-serif  !important;
  font-size: 3rem;
  padding: 0;
  margin-bottom: 0%;
  max-width: 100%;
  color: #ffffff;
}

.Future {
  font-family: "Summer" , sans-serif !important ;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 5rem;
  max-width: 100%;
  color: #99d0f2;
}

.subtexto {
  font-family: "Open", sans-serif !important;
  font-size: 0.7em;
  color: #ffffff;
  bottom: 0;
}
.logo:hover {
  filter: drop-shadow(0 0 6px #99d0f2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(400deg);
  }
}

.read-the-docs {
  color: #ffffff  ;
}
@media (max-width: 768px) {
  .Future {
    font-size: 3rem; 
    max-width: 100%;
  }

  .Fin {
    font-size: 2rem; 
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .Future {
    font-size: 2rem; 
    max-width: 100%;
  }

  .Fin {
    font-size: 1.5rem; 
    max-width: 100%;
  }
}