.creative-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh
  }
  
  .title {
    font-size: 3.07rem;
    font-weight: 800;
    color: #253A82;
    margin-bottom: 40px;
  }
  
  .circle-layout {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 50px;
    height: 500px;
  }
  
  .text-block {
    width: 200px;
    position: absolute;
    color: #253A82;
    font-size: 0.875rem;
  }
  
  .text-block h4 {
    font-size: 1rem;
    font-weight: 800;
    text-align: justify;
    word-spacing: 0.10em;

  }
  
  .text-block p {
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
     
  }
  /* Posiciones */
  .top-left {
    top: 0;
    left: 0;
  }
  
  .top-right {
    top: 0;
    right: 0;
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
  }
  
  .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center-icon img {
    width: 450px;
    height: 450px;
  }
  
  /* Botón */
  .creative-button {
    background-color: #253A82;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Beckman', sans-serif;
  }
  