.contact-section {
  background: linear-gradient(
    #F0EEEA 98%,
    #243981 10%);
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .coins-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 95%;
    z-index: 0;
    pointer-events: none;
  }
  
  
  .contact-section {
    position: relative; 
    overflow: hidden;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }
  
  label {
    font-size: 1.7rem;
    color: #243981;
    font-weight: 300;
  }
  
  
  .form-container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: auto;
    text-align: left;
  }
  
  .form-container h2 {
    font-size: 2.5rem;
    font-family: "Summer", sans-serif !important;
    color: #243981;
    margin-bottom: 1rem;
  }

  .form-container p{
    font-size: 1.2rem;
    color: #243981;  
    line-height: normal;
    font-weight: 300;
  }
  
  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: "OpenSans-LightItalic", sans-serif !important;
    
  }
  
  input {
    padding: 0.75rem;
    border-radius: 8px;
    border: 2px solid #243981;
    background-color: #f8f8f2;
    color: #243981;
  }
  
  .service-options {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .service-button {
    flex: 1;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit-button {
    margin: 2rem auto 0;
    padding: 0.60rem 3rem;
    background: #243981;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: block;
  }
  
  @media (min-width: 768px) {
    .contact-footer {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  
    .form-container {
      max-width: 800px;
    }
  
    .form-container h2 {
      font-size: 3.5rem;
    }
  }