html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.texto{
  font-family: "Summer", sans-serif !important;
  font-size: 3rem;
  font-weight: 200; 
}

.horizontal-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: max-content;
}

.section {
  min-width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.section1 { background: #F0EEE9; }
.section2 { background: #253A82; }
.section3 { background: #AB9DFF; }
.section4 { background: #C0E0FF; }
.section5 { background: #E3FC87; }

.content {
  text-align: center;
  max-width: 600px;
}
